[Unit]
  Description=Kafka Service

[Service]
  Restart=on-failure
  RestartSec=3
  LimitNOFILE=800000
  Environment="LOG_DIR=/var/log/kafka"
  Environment="GC_LOG_ENABLED=true"
  Environment="KAFKA_HEAP_OPTS=-Xms512M -Xmx4G"
  Environment="NUMA_NODES={{ ansible_local.kafka_numanodes["0"].nodes }}"
  Environment="KAFKA_JMX_OPTS={{ kafka_jmx_opts }}"
  User=kafka
  Group=kafka
  ExecStart=/usr/bin/numactl --cpunodebind=${NUMA_NODES} --membind=${NUMA_NODES} /usr/lib/kafka/bin/kafka-server-start.sh /etc/kafka/server.properties

[Install]
  WantedBy=default.target
